body {
    background-color: tan;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
img {
    height: 300px;
}